
 /***************************/
 /** Reglas para etiquetas de pag Home**/
 /***************************/
 body{
   margin: o;
   background-color: darkslateblue;
   
 }
 .imaprinc{
  text-align: center;
  
}
 p{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;
  text-align: justify;
  padding-right: 30px;
  padding-left: 30px; 
}
h2{
  padding-right: 30px;
  padding-left: 30px; 
  color: yellow;
 }

 
li{
  display: flex;
}
 

 h1{
  text-align: center;
  color: palegoldenrod;
  font-style: italic;
 }

 p{
 color: white;
 }
ul{
  color: yellow;
}
.enlaces
{
 padding-right: 30px;
 padding-left: 30px; 
 color: orangered;
 font-size: 20px;
}
 